.Rooms {
  min-height: 100vh;
  overflow: hidden;

  &-page {
    padding: 50px 10px 30px;
    min-height: 100vh;
  }

  &-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
