.Root {
  min-height: 100vh;
  background-image: url('../../../assets/img/thirteen/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}
