@font-face {
  font-family: 'Gurajada';
  src: url('../fonts/Gurajada/Gurajada.eot');
  src:
    url('../fonts/Gurajada/Gurajada.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gurajada/Gurajada.woff2') format('woff2'),
    url('../fonts/Gurajada/Gurajada.woff') format('woff'),
    url('../fonts/Gurajada/Gurajada.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-Light.eot');
  src:
    url('../fonts/RobotoMono/RobotoMono-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-Light.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Light.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-Bold.eot');
  src:
    url('../fonts/RobotoMono/RobotoMono-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-Medium.eot');
  src:
    url('../fonts/RobotoMono/RobotoMono-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-Medium.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Medium.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-ExtraLight.eot');
  src:
    url('../fonts/RobotoMono/RobotoMono-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-ExtraLight.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-ExtraLight.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-SemiBold.eot');
  src:
    url('../fonts/RobotoMono/RobotoMono-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-SemiBold.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-SemiBold.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-Thin.eot');
  src:
    url('../fonts/RobotoMono/RobotoMono-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-Thin.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Thin.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-Regular.eot');
  src:
    url('../fonts/RobotoMono/RobotoMono-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gorgom';
  src: url('../fonts/Gorgom/Gorgom-Regular.eot');
  src:
    url('../fonts/Gorgom/Gorgom-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gorgom/Gorgom-Regular.woff2') format('woff2'),
    url('../fonts/Gorgom/Gorgom-Regular.woff') format('woff'),
    url('../fonts/Gorgom/Gorgom-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
